*{
box-sizing: border-box;
}

body {
margin: 0%;
}

.container {
    display: flex;
    flex-direction: column;
    background: rgb (191, 222, 196);
    width: 100vw;
    height: 100vh;
}

.top {
    background: rgb(133, 207, 158);
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px
}

.bottom {
    display: flex;
    flex-direction: row;
    background: rgb(133, 207, 158);
    height: 80%;
    padding: 10%;
    gap: 10px
}

.top-item {
    background: rgb(203, 136, 136);
    height: 100%;
    width: 100%;
    margin: 1%;
}


.left {
    display: flex;
    background: rgb(8, 87, 48);
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
}


.left-item {
    background: rgb(247, 255, 24);
    height: 30%;
    width: 30%;
}

.right {
    display: flex;
    flex-direction: column;
    background: rgb(133, 207, 158);
    height: 100%;
    width: 50%;
    gap:10px;
}

.right-item {
    background: rgb(87, 152, 91);
    height: 30%;
    width: 100%;
}